@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  body{
    background-color : rgb(36, 36, 36);
    color: white;
    height: 100vh;
    @apply snap-y snap-mandatory overflow-y-scroll z-0
  }

  .heroButton{
    @apply px-3 sm:px-6 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all  hover:border-[#f7ab07]/40  hover:text-[#f7ab07]/40
  }
  
}
